*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

section{
	width:100%;
	margin-bottom: 8px;
	background-color: #0386fb;
}

section>header, footer{
	height:50px;
}

aside{
	width:calc((40% / 2) - 15px);
}

aside, article{
	float:left;
	height:400px;
}

article{
	width:60%;
	margin: 0 15px;
}

footer{
	background-color: #8801fe;
}

header{
	height:70px;
	background-color:#e579e6;
}

body{
	width:90%;
	padding:20px;
	margin:0 auto;
}

.margin-bottom{
	margin-bottom: 20px;
}

.banner{
	height:300px;
	background-color: #e1d67a;
}

.lightblue-bg{
	background-color:#abcfe7;
}

.clearfix{
	clear: both;
	content: "";
	display: table;
}

